<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://shamsiddinovuz.netlify.app/" target="_blank">
      Shamsiddinov.uz
    </a>
  </div>
</nav>